/*
    1. Posicionamiento -> static, absolute, relative, fixed.
    2. Box model -> margin, border, padding, content.
    3. Tipografia -> tipos, tamaño de fuente, etc.
    4. Estilos visuales -> box-shadow, border-radius, gradient, etc.
    5. Others -> Reglas CSS y más...
*/
:root {
    --linear-bg: #201E1C @ 11.19%
    #F7931A @ 100%;
    --background: #E5E5E5;
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #ffffff;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
body {
    min-width: 320px;
    background-color: var(--off-white);
}
.header {
    width: 100%;
    height: 334px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header__logo {
    width: 165px;
    height: 24px;
    align-self: center;
    top: 18px;
    margin-top: 39px
}
.header__title {
    color: var(--just-white);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 36px 0 0 0;
}
.header__description {
    color: var(--soft-orange);
    min-width: 288px;
    max-width: 900px;
    width: 90%;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 24px 0 0 0;
}
.header__button {
    text-decoration: unset;
    position: absolute;
    display: block;
    top: 307px;
    padding: 16px;
    border-radius: 4px;
    background-color: var(--off-white);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--warm-black);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.header__button-icon {
    display: inline-block;
    width: 14px;
    height: 8px;
    margin-left: 14px;
    background-image: url('../assets/icons/keyboard-arrow-down.svg');
    background-position: center;
}
.exchange {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.exchange__logo {
    width: 195px;
    height: 195px;
    background-image: url('../assets/images/Bitcoin.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 59px;
}
.exchange__title {
    min-width: 288px;
    max-width: 900px;
    width: 90%;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin: 40px 0 0 0;
    color: var(--warm-black);
}
.exchange__description {
    min-width: 288px;
    max-width: 900px;
    width: 90%;
    height: 54px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 24px 0 0 0;
    color: #757575;
}
.exchange__tables-container {
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    margin: 48px 0 0 0;
}
.currency-table__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #FF9536;
    margin: 0 0 0 12px;
    text-align: start;
}
.currency-table__content {
    width: 100%;
    min-width: 197px;
    font-family: 'Inter', sans-serif;
    text-align: start;
    margin: 12px 0 0 0;
    border-spacing: 1px;
}
.currency-table__coin-name {
    width: 60%;
    max-width: 60%;
    height: 40px;
    position: relative;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: -0.02rem;
    padding: 0 12px 0 42px;
    font-weight: 500;
    color: #B5B0AC;
    background-color: var(--just-white);
}
.currency-table__coin-value {
    width: 40%;
    height: 40px;
    position: relative;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0 12px;
    line-height: 1.7rem;
    letter-spacing: -0.02rem;
    color: #757575;
    background-color: var(--just-white);
}
.currency-table__coin-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 12px;
    top: calc(50% - 10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.currency-table__coin-icon--bitcoin-icon {
    background-image: url('../assets/icons/bitcoin-icon.svg');
}
.currency-table__coin-icon--ethereum-icon {
    background-image: url('../assets/icons/ethereum-icon.svg');
}
.currency-table__coin-icon--ripple-icon {
    background-image: url('../assets/icons/ripple-icon.svg');
}
.currency-table__coin-icon--stellar-icon {
    background-image: url('../assets/icons/stellar-icon.svg');
}
.currency-table__coin-value--up {
    position: absolute;
    top: calc(50% - 5px);
    right: 12px;
    width: 14px;
    height: 12px;
    background-image: url('../assets/icons/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table__coin-value--down {
    position: absolute;
    top: calc(50% - 5px);
    right: 12px;
    width: 14px;
    height: 12px;
    background-image: url('../assets/icons/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table__coin-name--top-left {
    border-top-left-radius: 8px;
}
.currency-table__coin-name--bottom-left {
    border-bottom-left-radius: 8px;
}
.currency-table__coin-value--top-right {
    border-top-right-radius: 8px;
}
.currency-table__coin-value--bottom-right {
    border-bottom-right-radius: 8px;
}
.currency-table__last-update {
    width: max-content;
    padding: 8px 12px;
    margin: 16px auto 0 auto;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--black);
    background-color: var(--soft-orange);
}
.commissions-table__container {
    margin: 48px 0 0 0;
}
.commissions-table__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--secondary-blue);
    margin: 0 0 0 12px;
    text-align: start;
}
.commissions-table__content {
    width: 100%;
    min-width: 197px;
    font-family: 'Inter', sans-serif;
    text-align: start;
    margin: 12px 0 0 0;
    border-spacing: 1px;
}
.commissions-table__business-name {
    width: 50%;
    max-width: 50%;
    height: 40px;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: -0.02rem;
    padding: 0 12px;
    font-weight: 500;
    color: #B5B0AC;
    background-color: var(--just-white);
}
.commissions-table__business-value {
    width: 50%;
    height: 40px;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0 12px;
    line-height: 1.7rem;
    letter-spacing: -0.02rem;
    color: #757575;
    background-color: var(--just-white);
}
.commissions-table__business-name--top-left {
    border-top-left-radius: 8px;
}
.commissions-table__business-name--bottom-left {
    border-bottom-left-radius: 8px;
}
.commissions-table__business-value--top-right {
    border-top-right-radius: 8px;
}
.commissions-table__business-value--bottom-right {
    border-bottom-right-radius: 8px;
}
.commissions-table__last-update {
    width: max-content;
    padding: 8px 12px;
    margin: 16px auto 0 auto;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--black);
    background-color: var(--soft-blue);
}