/*
    1. Posicionamiento -> static, absolute, relative, fixed.
    2. Box model -> margin, border, padding, content.
    3. Tipografia -> tipos, tamaño de fuente, etc.
    4. Estilos visuales -> box-shadow, border-radius, gradient, etc.
    5. Others -> Reglas CSS y más...
*/
:root {
    --linear-bg: #201E1C @ 11.19%
    #F7931A @ 100%;
    --background: #E5E5E5;
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --gray: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #ffffff;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}
body {
    min-width: 320px;
    background-color: var(--off-white);
}
.header {
    width: 100%;
    height: 334px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header__logo {
    width: 165px;
    height: 24px;
    align-self: center;
    top: 18px;
    margin-top: 39px
}
.header__title {
    color: var(--just-white);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 36px 0 0 0;
}
.header__description {
    color: var(--soft-orange);
    min-width: 288px;
    max-width: 900px;
    width: 90%;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 24px 0 0 0;
}
.header__button {
    text-decoration: unset;
    position: absolute;
    display: block;
    top: 307px;
    padding: 16px;
    border-radius: 4px;
    background-color: var(--off-white);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--warm-black);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}
.header__button-icon {
    display: inline-block;
    width: 14px;
    height: 8px;
    margin-left: 14px;
    background-image: url('../assets/icons/keyboard-arrow-down.svg');
    background-position: center;
}
.exchange {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.exchange__logo {
    width: 195px;
    height: 195px;
    background-image: url('../assets/images/Bitcoin.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 59px;
}
.exchange__title {
    min-width: 288px;
    max-width: 900px;
    width: 90%;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin: 40px 0 0 0;
    color: var(--warm-black);
}
.exchange__description {
    min-width: 288px;
    max-width: 900px;
    width: 90%;
    height: 54px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: 24px 0 0 0;
    color: #757575;
}
.exchange__tables-container {
    width: 70%;
    min-width: 230px;
    max-width: 300px;
    margin: 48px 0 64px 0;
}
.currency-table__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #FF9536;
    margin: 0 0 0 12px;
    text-align: start;
}
.currency-table__content {
    width: 100%;
    min-width: 197px;
    font-family: 'Inter', sans-serif;
    text-align: start;
    margin: 12px 0 0 0;
    border-spacing: 1px;
}
.currency-table__coin-name {
    width: 60%;
    max-width: 60%;
    height: 40px;
    position: relative;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: -0.02rem;
    padding: 0 12px 0 42px;
    font-weight: 500;
    color: #B5B0AC;
    background-color: var(--just-white);
}
.currency-table__coin-value {
    width: 40%;
    height: 40px;
    position: relative;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0 12px;
    line-height: 1.7rem;
    letter-spacing: -0.02rem;
    color: #757575;
    background-color: var(--just-white);
}
.currency-table__coin-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 12px;
    top: calc(50% - 10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.currency-table__coin-icon--bitcoin-icon {
    background-image: url('../assets/icons/bitcoin-icon.svg');
}
.currency-table__coin-icon--ethereum-icon {
    background-image: url('../assets/icons/ethereum-icon.svg');
}
.currency-table__coin-icon--ripple-icon {
    background-image: url('../assets/icons/ripple-icon.svg');
}
.currency-table__coin-icon--stellar-icon {
    background-image: url('../assets/icons/stellar-icon.svg');
}
.currency-table__coin-value--up {
    position: absolute;
    top: calc(50% - 5px);
    right: 12px;
    width: 14px;
    height: 12px;
    background-image: url('../assets/icons/trending-up.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table__coin-value--down {
    position: absolute;
    top: calc(50% - 5px);
    right: 12px;
    width: 14px;
    height: 12px;
    background-image: url('../assets/icons/trending-down.svg');
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table__coin-name--top-left {
    border-top-left-radius: 8px;
}
.currency-table__coin-name--bottom-left {
    border-bottom-left-radius: 8px;
}
.currency-table__coin-value--top-right {
    border-top-right-radius: 8px;
}
.currency-table__coin-value--bottom-right {
    border-bottom-right-radius: 8px;
}
.currency-table__last-update {
    width: max-content;
    padding: 8px 12px;
    margin: 16px auto 0 auto;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--black);
    background-color: var(--soft-orange);
}
.commissions-table__container {
    margin: 48px 0 0 0;
}
.commissions-table__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--secondary-blue);
    margin: 0 0 0 12px;
    text-align: start;
}
.commissions-table__content {
    width: 100%;
    min-width: 197px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 12px 0 0 0;
    border-spacing: 1px;
}
.commissions-table__business-name {
    width: 50%;
    max-width: 50%;
    height: 40px;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: -0.02rem;
    padding: 0 12px;
    font-weight: 500;
    color: #B5B0AC;
    background-color: var(--just-white);
}
.commissions-table__business-value {
    width: 50%;
    height: 40px;
    font-weight: 400;
    font-size: 1.4rem;
    padding: 0 12px;
    line-height: 1.7rem;
    letter-spacing: -0.02rem;
    color: #757575;
    background-color: var(--just-white);
}
.commissions-table__business-name--top-left {
    border-top-left-radius: 8px;
}
.commissions-table__business-name--bottom-left {
    border-bottom-left-radius: 8px;
}
.commissions-table__business-value--top-right {
    border-top-right-radius: 8px;
}
.commissions-table__business-value--bottom-right {
    border-bottom-right-radius: 8px;
}
.commissions-table__last-update {
    width: max-content;
    padding: 8px 12px;
    margin: 16px auto 0 auto;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--black);
    background-color: var(--soft-blue);
}
.features {
    width: 100%;
    position: relative;
    padding: 64px 0 32px 0;
    background-color: var(--warm-black);
    display: flex;
    flex-direction: column;
}
.features__icon {
    position: absolute;
    display: inline-block;
    width: 42px;
    height: 25px;
    top: -12px;
    right: calc(50% - 21px);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/icons/batabit-icon.svg');
}
.features__description {
    min-width: 288px;
    text-align: center;
}
.features__title {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    color: var(--just-white);
    margin: 0;
}
.features__subtitle {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #808080;
    margin: 24px auto 16px auto;
}
.features__cards-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-card {
    width: 288px;
    min-width: 288px;
    min-height: 152px;
    padding: 16px 20px 22px 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: var(--black);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.feature-card__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.feature-card__icon--clock {
    background-image: url('../assets/icons/clock.svg');
}
.feature-card__icon--eye {
    background-image: url('../assets/icons/eye.svg');
}
.feature-card__icon--dollar-sign {
    background-image: url('../assets/icons/dollar-sign.svg');
}
.feature-card__icon--check-circle {
    background-image: url('../assets/icons/check-circle.svg');
}
.feature-card__title {
    margin: 10px 0 0 0;
    color: var(--just-white);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.8rem;
}
.feature-card__description {
    margin: 10px 0 0 0;
    color: #808080;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.wildcard {
    width: 100%;
    height: 50vh;
    background-image: url('../assets/images/bitcoinbaby-x2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    text-align: center;
}
.wildcard__title {
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    padding: 64px 0 0 0;
    margin: 0;
}
.plans {
    width: 100%;
    background-color: var(--off-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.plans__details {
    width: 100%;
    padding: 64px 0 25px 0;
}
.plans__title {
    min-width: 288px;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 2.6rem;
    color: var(--warm-black);
    margin: 0 16px 24px 16px;
}
.plans__subtitle {
    min-width: 288px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #757575;
    margin: 0 16px;
}
.plans__cards-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 25px 0 16px 0;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plan-card {
    width: 70%;
    min-width: 190px;
    max-width: 250px;
    min-height: 250px;
    scroll-snap-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px 48px 5px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
}
.plan-card__recommendation {
    min-width: 105px;
    position: absolute;
    top: -14px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    padding: 8px 10px;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--just-white);
    border-radius: 8px;
}
.plan-card__recommendation--orange {
    background-color: var(--bitcoin-orange);
}
.plan-card__recommendation--blue {
    background-color: var(--secondary-blue);
}
.plan-card__recommendation--black {
    background-color: var(--black);
}
.plan-card__pay-type {
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    margin: 31px auto 8px auto;
    line-height: 1.8rem;
    color: black;
}
.plan-card__price {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 6.3rem;
    letter-spacing: -0.08em;
    margin: 0 auto 16px auto;
    color: black;
}
.plan-card__price-sign {
    position: absolute;
    top: 12px;
    left: -12px;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #363636;
}
.plan-card__description {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #757575;
    margin: 0 16px 16px 16px;
}
.plan-card__button {
    position: relative;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    min-width: 151px;
    max-width: 151px;
    padding: 15px 16px;
    text-align: start;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--warm-black);
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
}
.plan-card__button-row-icon {
    position: absolute;
    display: inline-block;
    top: calc(50% - 12px);
    right: 16px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../assets/icons/arrow-right.svg');
}
.footer {
    width: 100%;
    background-color: var(--bitcoin-orange);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 36px 16px;
}
.footer-left__list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.footer-left__item {
    text-align: start;
    margin: 4px 0;
}
.footer-left__a {
    text-decoration: none;
    color: var(--just-white);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-right__icon {
    width: 41px;
    height: 24px;
    margin: 0 auto 8px auto;
}
.footer-right__copyright {
    margin: 0;
    font-weight: 500;
    font-size: .8rem;
    line-height: 1.8rem;
    color: var(--soft-orange);
}